{% extends "base.html" %}
{% block title %}What.gd{% endblock %}
{% block content %}
<div class="row">
<div class="span11"><h2>Welcome to What.gd!</h2></div>
<div class="span11">
<img src="/static/screen.png">
</div>
<div class="span3">
<p>What.gd is a simple reminder to do good things and spend time wisely. What good will you do today?</p>

<p>It was inspired by <strong><a href="http://flowingdata.com/2011/03/20/daily-schedule-of-benjamin-franklin/">Benjamin Franklin's</a></strong> daily questions and <strong><a href="http://kk.org/ct2/2007/09/my-life-countdown-1.php">Kevin Kelly's</a></strong> life countdown.</p>
<p>To sign up or login, <strong><a href="http://what.gd/login/">click here.</a></strong></p>
</div>

</div>{% endblock %}