
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/whatgood.css" />
    <title>What.gd</title>
</head>

<body>
        <div id="content">
        



<div>
Hello ecmendenhall! You were born on Dec. 4, 1987. You are 23 years old. You have lived 8716 days. You have 53.37 years ( 19492 days) left. You will die on Feb. 25, 2065. You have completed 30.9% of your life.

What good will you do today?
</div>



<div class="meter">
	<span style="width: 30.9%"></span>
</div>




    </div>
</body>
</html>